.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 20px;
    width: 200px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin:5px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin:10px;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}